

.container {
background-color: #ccc;
margin: 0 auto;
width: 960px;
padding-top: 10px;
overflow: hidden;
border: 3px solid #C29D2E;
padding-left: 10px;
padding right: 10px;
}

body{
  background-color: black;
  text-align: center;

}


h1 {
  color: white;
  text-align: center;
}

nav {
  background-color: #214700;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    float: left;
}

nav a {
    display: block;
    width: 175px;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #214700;
}

/*#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;}

#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}*/

.three-col {
  background-color: 636363;
  color: white:
}

.three-col div {
  float: left;
  width: 300px;
  display: inline-block;
  border: 5px solid gold;

}

.myCarousel div {
  width: 100%;
  padding-bottom: 10px;
}

.coach {
  text-align: left;
  padding-top: 8px;
  list-style-type: none;

}

.news {
  padding-top: 20px;
}


.link{
  list-style-type: none;
}

.link a:link{
  color: white;
  text-decoration: none;
}

.link a:visited{
  color: #C29D2E;
}

.gallery {
  margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
