body {
background: #ccc;
margin: 0;
font-family: Helvetica;
}

h1 {
  font-size: 250%;
}
h3 {
  text-align: center;
}
h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 700px;
  background: #fff url('pic1.jpg') no-repeat top center;
  filter: alpha(opacity=90);
  padding-top: 200px;
  border-top: 10px solid #424242;
}

.elevator{
  margin: 0 auto;
  padding-top: 310px;

}

.long{
  padding-top: 3px;
  text-align: center;
  background-color: #E0E0E0;
  padding-bottom: 3px;

}

.personas{
  display:inline-block;
  text-align: center;
  word-spacing: 100px;
  background-color: #FFCC66;
  padding: 10px;
  border: 1px solding #ddd;
  width: 97%;
  margin: 0;
}

.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  text-align: center;
  word-spacing: normal;
}

.comps{
  display: inline-block;
  text-align: center;
  word-spacing: 100px;
  adding: 10px;
  border: 1px solding #ddd;
  width: 97%;
  margin: 0;
  padding-bottom: 20px;
}
